<p id="notice"><%= notice %></p>

<p>
  <strong>Aqi:</strong>
  <%= @station_datum.aqi %>
</p>

<p>
  <strong>Co:</strong>
  <%= @station_datum.co %>
</p>

<p>
  <strong>Co 24h:</strong>
  <%= @station_datum.co_24h %>
</p>

<p>
  <strong>No2:</strong>
  <%= @station_datum.no2 %>
</p>

<p>
  <strong>No2 24h:</strong>
  <%= @station_datum.no2_24h %>
</p>

<p>
  <strong>O3:</strong>
  <%= @station_datum.o3 %>
</p>

<p>
  <strong>O3 24h:</strong>
  <%= @station_datum.o3_24h %>
</p>

<p>
  <strong>O3 8h:</strong>
  <%= @station_datum.o3_8h %>
</p>

<p>
  <strong>O3 8h 24h:</strong>
  <%= @station_datum.o3_8h_24h %>
</p>

<p>
  <strong>Pm10:</strong>
  <%= @station_datum.pm10 %>
</p>

<p>
  <strong>Pm10 24h:</strong>
  <%= @station_datum.pm10_24h %>
</p>

<p>
  <strong>Pm2 5:</strong>
  <%= @station_datum.pm2_5 %>
</p>

<p>
  <strong>Pm2 5 24h:</strong>
  <%= @station_datum.pm2_5_24h %>
</p>

<p>
  <strong>Primary pollutant:</strong>
  <%= @station_datum.primary_pollutant %>
</p>

<p>
  <strong>Quality:</strong>
  <%= @station_datum.quality %>
</p>

<p>
  <strong>So2:</strong>
  <%= @station_datum.so2 %>
</p>

<p>
  <strong>So2 24h:</strong>
  <%= @station_datum.so2_24h %>
</p>

<p>
  <strong>Time point:</strong>
  <%= @station_datum.time_point %>
</p>

<p>
  <strong>Station:</strong>
  <%= @station_datum.station %>
</p>

<%= link_to 'Edit', edit_station_datum_path(@station_datum) %> |
<%= link_to 'Back', station_data_path %>
